name: Studio Scrapers

on:
  schedule:
    - cron: 0 * * * *
jobs:
  webscraper:
    timeout-minutes: 360
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install required libraries
        if: success()
        run: |
          cp -r backend/ .
          pip install --no-cache-dir uv
          uv pip compile pyproject.toml --output-file requirements.txt
          pip install -r requirements.txt

      - name: Update classes in table
        if: success()
        run: |
          python scrapers/scrape_all.py
